# Sui Network: testnet | devnet | mainnet
NEXT_PUBLIC_SUI_NETWORK=testnet

# EVE Frontier tenant: stillness | utopia
NEXT_PUBLIC_EVE_TENANT=utopia

# FEN Package ID (deployed Move package address — v4 Utopia)
NEXT_PUBLIC_FEN_PACKAGE_ID=0x4c2f4a85fdf9667aca3c877b71b112dd017dab2824c251b9291f407b033a441a

# FEN Corridor Registry shared object ID
NEXT_PUBLIC_CORRIDOR_REGISTRY_ID=0x6cb994308037d32961623b5a198365155108b6c1dc2a36df4680bd4be2dea6d3
