# Sui Network: testnet | devnet | mainnet
NEXT_PUBLIC_SUI_NETWORK=testnet

# FEN Package ID (deployed Move package address)
NEXT_PUBLIC_FEN_PACKAGE_ID=0x0

# FEN Corridor Registry shared object ID
NEXT_PUBLIC_CORRIDOR_REGISTRY_ID=0x0

# FEN Config shared object ID
NEXT_PUBLIC_FEN_CONFIG_ID=0x0
