# Sui Network: testnet | devnet | mainnet
NEXT_PUBLIC_SUI_NETWORK=testnet

# EVE Frontier tenant: stillness | utopia
NEXT_PUBLIC_EVE_TENANT=utopia

# FEN Package ID (deployed Move package address)
NEXT_PUBLIC_FEN_PACKAGE_ID=0xff753421606a061120d2fcd75df86fdb0682d78051e6e365ec2af81f0f56620a

# FEN Corridor Registry shared object ID
NEXT_PUBLIC_CORRIDOR_REGISTRY_ID=0x2ec8e3f9be1952852fd6879005a580c705f25b57ad3077f9d369b355e807aa4c
